name: Publish

on:
  workflow_call:
    secrets:
      CARGO_REGISTRY_TOKEN:
        required: true

jobs:

  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: stellar/actions/rust-cache@sccache
    - run: rustup update
    - run: cargo install --target-dir ~/.cargo/target --locked --version 0.2.35 cargo-workspaces
    - run: cargo workspaces publish --all --force '*' --from-git --yes
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
