name: Test rust-set-rust-version

on:
  push:
    branches: [main]
  pull_request:

jobs:

  complete:
    if: always()
    needs: [test]
    runs-on: ubuntu-latest
    steps:
    - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
      run: exit 1

  test:
    uses: ./.github/workflows/rust-set-rust-version.yml
    secrets:
      GITHUB_TOKEN:
